#mynavbar .navbar-nav .nav-link {
    color: #ffcc00;
}

p{
	background-color: #236683;
}

body {
  background: url('/images/calogo.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  background-color:white;
}

footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 2em;
  margin-top: 20px;
  background-color: rgb(216,191,216);
  text-align: center;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

#table-container{
	margin-bottom: 50px;
}

.hiddenRow{
	padding: 0 !important;
}

#failedlogin{
	color: red !important;
}

.toast{
	background-color: white;
}

h2{
	font-size:400%; color:blue;
	
}



.container{
	position:relative;
	width:300px;;
	color:black;
	font-size: 20px;
	text-align:left;
	text-shadow: 2px 2px 5px #2f222f;
	margin-left:560px;
	margin-top: 35px;
	margin-bottom:150px;
	background-color:white;
	
	
}